/* mobile-menu.css */
.menu-overlay {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

.mobile-menu {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 16rem;
    background-color: white;
    z-index: 50;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.1);
}

.mobile-menu.active {
    transform: translateX(0);
}

@media (min-width: 1024px) {
    .mobile-menu,
    .menu-overlay {
        display: none;
    }
}
